body a{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.bg{
    background-color: rgb(248, 246, 246);
    height: 450px;
    width: 500px;
    margin-left: 498px;
}
/* .roboto-slab-<uniquifier> {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; */
/* } */
.text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.h{
    text-indent: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-decoration: solid;
    margin-left: 205px;
}
.h2{
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 5px;
    text-decoration: solid;
    margin-left: 70px;
}
.in1{
    margin-top: 50px;
    margin-bottom: 10px;
}
.in1 , .in2{
    width: 280px;
    height: 30px;
    margin-left: 100px;
    /* border-radius: 7px; */
}
.in2{
    margin-bottom: 15px;
}
.forget a{
    text-decoration: none;
    color: rgb(12, 0, 233);
    margin-left: 100px;
    margin-top: 20px;
}
.button{
    border: 2px solid rgb(255, 252, 252);
    background-color:blue ;
    width: 284px;
    height: 50px;
    border-radius: 50px;
    margin-left: 100px;
    margin-top: 20px;
}
.b1{
    margin-top: 14px;
}
.b11{
    /* text-align: center; */
    color: white;
    text-decoration: none;
    margin-left: 120px;
    padding-top: 10px;
    margin-top: 500px;
    font-size: 17px;
}
.button2{
    border: 2px solid rgb(23, 18, 18);
    background-color:white ;
    width: 284px;
    height: 35px;
    border-radius: 50px;
    margin-left: 100px;
    margin-top: 20px;
}
.b12{
    display: flex;
}
.b21{
    /* text-align: center; */
    color: rgb(9, 4, 4);
    text-decoration: none;
    margin-left: 5px;
    padding-top: 10px;
    /* margin-top: 500px; */
    font-size: 15px;
}
.img{
    margin-left: 64px;
    margin-top: 8px;
}
.sec{
    margin-left: 62px;
}
.save {
    margin-left: 111px;
    margin-top: -30px;
    padding-top: 5px;
    color: white;
}
@media screen and (max-width:1460px) {
  .bg{
    margin-left: 468px;
  }
}
@media screen and (max-width:1390px) {
  .bg{
    margin-left: 433px;
  }
}
@media screen and (max-width:1326px) {
  .bg{
    margin-left: 403px;
  }
}
@media screen and (max-width:1253px) {
  .bg{
    margin-left: 363px;
  }
}
@media screen and (max-width:1152px) {
  .bg{
    margin-left: 313px;
  }
}
@media screen and (max-width:1091px) {
  .bg{
    margin-left: 283px;
  }
}
@media screen and (max-width:1031px) {
  .bg{
    margin-left: 243px;
  }
}
@media screen and (max-width:961px) {
  .bg{
    margin-left: 213px;
  }
}
@media screen and (max-width:880px) {
  .bg{
    margin-left: 173px;
  }
}
@media screen and (max-width:809px) {
  .bg{
    margin-left: 143px;
  }
}
@media screen and (max-width:738px) {
  .bg{
    margin-left: 103px;
  }
}
@media screen and (max-width:667px) {
  .bg{
    margin-left: 63px;
  }
}
@media screen and (max-width:583px) {
  .bg{
    margin-left: 33px;
  }
}
@media screen and (max-width:522px) {
  .bg{
    margin-left: 0px;
  }
}
@media screen and (max-width:491px) {
  .text{
    margin-left: 25px;
  }
}
@media screen and (max-width:460px) {
  .text{
    margin-left: 55px;
  }
}
@media screen and (max-width:420px) {
  .text{
    margin-left: 97px;
  }
}
@media screen and (max-width:390px) {
  .text{
    margin-left: 127px;
  }
}
